*{
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#inicio {
	display: flex;
	align-items: center;
	gap: 32px;
	/* topo, direita, baixo, esquerda */ 
	padding: 24px 80px 128px 80px; 
	position: relative;|
}

.paragrafo {
	line-height: 150%;
	margin-bottom: 32px;
}
.botao {
	background-color: #FF725E;
	border-radius: 8px;
	color: #FFFFFF;
	/* vertical, horizontal */
	padding: 16px 32px; 
	text-decoration: none;
}

.botao-transparente{
	background-color: transparent;
	color: #FF725E;
	padding: 16px 32px;
	text-uderline-offset: 4px;
}
.absolute{
	position: absolute;	
	width: 100%;
	bottom: 0;
	left: 0;	
	z-index: -10;
} 
 header nav a { 
	color: #FFFFFF;
 	font-weight: 600; 
 	padding: 32px; 
 	text-decoration: none;
}	
header{ 
	background-color: #ff9a6c;
	display: flex;
	justify-content: space-between;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 24px;
	padding-bottom: 24px;
}



﻿
h1, h2 {
	font-weight: 600; font-size: 32px; margin-bottom: 32px;
}
#clinica{
	display:flex;
	align-items: center;
	gap: 64px;
	padding: 64px 80px;
}	
#clinica li{
	margin-bottom: 16px;
	margin-left: 32px;
}
#farmacia{
	padding: 64x 80px;
	text-align: center;
}
#farmacia img{
	margin: 64px auto;
}
#farmacia .paragrafo{
	max-width: 950px;
	margin: 0 auto;
}

#duvidas{
	display:flex;
	align-items: center;
	gap: 64px;
	padding: 64px 80px;
}
.duvida{
	position: relative;
}
.duvida h3{
	border: 2px solid #FF725E;
	border-radius: 8px;
	cursor: pointer;
	padding: 24px;
}
.duvida img{
	position: absolute;
	top: 32px;
	right: 24px;
}
.duvida .paragrafo{
	border-right: 1px solid #ff725e;
	border-bottom: 1px solid #ff725e;
	border-left: 1px solid #ff725e;
	border-radius: 0 0 8px 8px;
	margin-top: -8px;
	padding: 24px;
}
footer{
	background-color: #ff715e2c;
	display: flex;
	justify-content: space-between;
	gap: 80px;
	padding: 64px 80px;
}
footer img,  footer .titulo{
	display: block;
	font-weight: 600;
	margin-bottom: 24px;
}
footer nav a{
	color:  #263138;
	display: block;
	margin-bottom: 16px;
	text-decoration: none;
		
}

}

.absolute{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: -10;

}
header nav a {
	clor: #FFFFFF
	fonte-weight: 600;
	padding: 32px;
	text-decoration: none;
}
header{
	background-color: #ff9a6c;
	display: flex;
	justify-content: space-between;
	padding-left: 80px;
    padding-right: 80px;
	padding-top: 24px;
	padding-bottom: 24px;
}
#duvidas{
	display:flex;
	align-items: center;
	gap: 64px;
	padding: 64px 80px
}
.duvida{
	position: relative;

}
.duvida h3{
	border: 2px solid #FF725E
	border-radíus: 8px;
	cursor: pointer;
	padding: 24px;
}
.duvida img{
	position: absolute;
	top: 32px;
	right: 24px;
}
.duvida .paragrafo{
	border-right: 1px solid #FF725E;
	border-bottom: 1px solid #FF725E;
    border-left: 1px solid #FF725E;
	border-radius: 0 0 8px 8px;
	margin-top: -8px;
	padding: 24px;
}
footer{
	background-color: #ff715e2c;
	display: flex;
	justify-content: space-between;
	gap: 80px;
	padding: 64px 80px
}
footer img, footer .titulo{
	display: block;
	font-weight: 600;
	margin-bottom: 24px;
} 
footer nav a{
	color: #263138;
	display: block;
	margin-bottom: 16px;
}